{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Suha - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- The above tags *must* come first in the head, any other head content must come *after* these tags-->
    <!-- Title-->
    <title>Suha - Multipurpose Ecommerce Mobile HTML Template</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap">
    <!-- Favicon-->
    <link rel="icon" href="{% static 'img/icons/icon-72x72.png'%}">
    <!-- Apple Touch Icon-->
    <link rel="apple-touch-icon" href="{% static 'img/icons/icon-96x96.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icons/icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'img/icons/icon-167x167.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/icon-180x180.png'%}">
    <!-- CSS Libraries-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/default/lineicons.min.css'%}">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <!-- Web App Manifest-->
    <link rel="manifest" href="{% static 'manifest.json'%}">
  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">Loading...</div>
      </div>
    </div>
    <!-- Internet Connection Status-->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a href="home.html">
            <svg class="bi bi-arrow-left" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">{{ group }} | {{ username }}</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
      </div>
    </div>
    <!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay"></div>
    <!-- Side Nav Wrapper-->
    <div class="suha-sidenav-wrapper" id="sidenavWrapper">
      <!-- Sidenav Profile-->
      <div class="sidenav-profile">
        <div class="user-profile"><img src="{% static 'img/bg-img/9.jpg'%}" alt=""></div>
        <div class="user-info">
          <h6 class="user-name mb-0">Suha Sarah</h6>
          <p class="available-balance">Credit <span>$<span class="counter">461</span></span></p>
        </div>
      </div>
      <!-- Sidenav Nav-->
      <ul class="sidenav-nav ps-0">
        <li><a href="profile.html"><i class="lni lni-user"></i>My Profile</a></li>
        <li><a href="notifications.html"><i class="lni lni-alarm lni-tada-effect"></i>Notifications<span class="ms-3 badge badge-warning">3</span></a></li>
        <li class="suha-dropdown-menu"><a href="#"><i class="lni lni-cart"></i>Shop Pages</a>
          <ul>
            <li><a href="shop-grid.html">- Shop Grid</a></li>
            <li><a href="shop-list.html">- Shop List</a></li>
            <li><a href="single-product.html">- Product Details</a></li>
            <li><a href="featured-products.html">- Featured Products</a></li>
            <li><a href="flash-sale.html">- Flash Sale</a></li>
          </ul>
        </li>
        <li><a href="pages.html"><i class="lni lni-empty-file"></i>All Pages</a></li>
        <li class="suha-dropdown-menu"><a href="wishlist-grid.html"><i class="lni lni-heart"></i>My Wishlist</a>
          <ul>
            <li><a href="wishlist-grid.html">- Wishlist Grid</a></li>
            <li><a href="wishlist-list.html">- Wishlist List</a></li>
          </ul>
        </li>
        <li><a href="settings.html"><i class="lni lni-cog"></i>Settings</a></li>
        <li><a href="intro.html"><i class="lni lni-power-switch"></i>Sign Out</a></li>
      </ul>
      <!-- Go Back Button-->
      <div class="go-home-btn" id="goHomeBtn"><i class="lni lni-arrow-left"></i></div>
    </div>
    <div class="page-content-wrapper">
      <!-- Support Wrapper-->
      <div class="support-wrapper py-3">
        <div class="container">
          <!-- Live Chat Wrapper-->
          <div class="live-chat-wrapper" >
            <!-- Agent Message Content-->
            <div class="agent-message-content" id="chatting">

          </div>
        </div>
      </div>
    </div>
    <!-- Type Message Form-->
    <div class="type-text-form">
        <div class="form-group file-upload mb-0">
          <input type="file"><i class="lni lni-plus"></i>
        </div>
          <input type="text" class="form-control" id="msg" name="message">
        <input type="text" id="username" value="{{ username }}">
          <button type="submit" onclick="jonat()">
          <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
          </svg>
        </button>
    </div>
    <!-- All JavaScript Files-->
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.easing.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'js/default/jquery.passwordstrength.js'%}"></script>
    <script src="{% static 'js/default/dark-mode-switch.js'%}"></script>
    <script src="{% static 'js/default/no-internet.js'%}"></script>
    <script src="{% static 'js/default/active.js'%}"></script>
    <script src="{% static 'js/pwa.js'%}"></script>
    <script>
        {#var socket = new WebSocket("ws://127.0.0.1:8000/ws/chat/{{ group }}/");#}
        var socket = new WebSocket("ws://192.168.1.13:8000/ws/chat/{{ group }}/");

        socket.onopen = function () {
            console.log("Connected")
        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                alert('Соединение закрыто чисто');
                console.log('Clean close')
            } else {
                console.log('Close by error')
            }
            console.log('Код: ' + event.code + ' причина: ' + event.reason)
        };

        socket.onmessage = function (event) {
            let response = JSON.parse(event.data);
            var old_html = document.getElementById("chatting").innerHTML;
            const today = new Date();
          let h = today.getHours();
          let m = today.getMinutes();
          m = checkTime(m);
          if (response['username'] == document.querySelector('#username').value){
              let mss = `<div class="user-message-text">
                <div class="user-message-content">
                  <!-- User Message Text-->
                  <div class="user-message-text">
                    <div class="d-block">
                      <p>`+ response['message'] +`</p>
                    </div><span>`+ h + `:` + m + `</span>
                  </div>
                </div>
               </div>`;
              old_html = old_html+mss;
            document.getElementById("chatting").innerHTML=old_html;
          }
          else{
              let mss = `<div class="agent-message-text">
                    <div class="agent-message-text">
                    <div class="d-block">
                      <p>`+ response['message'] +`</p>
                    </div><span>`+ h + `:` + m + `</span>
                  </div>
                    </div>`;
              old_html = old_html+mss;
            document.getElementById("chatting").innerHTML=old_html;
          }

        }

        socket.onerror = function (error) {
            console.log(error.message)
        };
        function jonat() {
            let message = document.querySelector('#msg').value;
            let username = document.querySelector('#username').value;
            socket.send(JSON.stringify({
                "type": 'chat',
                "message": message,
                "username": username
            }));
            document.getElementById('msg').value = ''
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i}  // add zero in front of numbers < 10
          return i;
        }

    </script>
  </body>
</html>